<div class="flex">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
        {% for disk in disks %}
            <a href="{{ path('files', { 'path': disk.getMountPoint() }) }}" class="p-2 mb-1 w-[300px] bg-dataflowSecondary rounded-lg shadow-md hover:bg-zinc-800/50 cursor-pointer" async="true">
                <div class="flex items-center mb-2">
                    <i class="nf nf-md-harddisk text-dataflowText text-2xl mr-2"></i>
                    <span class=font-medium">{{ disk.getName() }}</span>
                </div>
                <div class="text-dataflowText text-sm">Size: {{ bytesToReadableSize(disk.getSize()) }}</div>
                <div class="text-dataflowText text-sm mb-2">Mountpoint: {{ disk.getMountpoint() }}</div>
                <div class="text-dataflowText text-right text-xs mt-1">{{ disk.getUsedPercentage() }} used</div>
                <div class="w-full bg-dataflowTextSecondary h-2 overflow-hidden">
                    <div class="bg-dataflowText h-full rounded-[2px]" style="width: {{ disk.getUsedPercentage() }};"></div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
