<table id="directory-table" class="table-auto w-full text-left text-[14px] overflow-hidden whitespace-nowrap text-ellipsis">
    <thead>
        <tr class="text-dataflowTextSecondary">
            <th class="w-1/2 font-normal">Name</th>
            <th class="w-1/4 font-normal">Size</th>
            <th class="w-1/4 font-normal">Date Modified</th>
        </tr>
    </thead>
    <tbody>
        {% for folder in directory.getFolders() %}
            <tr class="text-slate-200 hover:bg-white/10 cursor-pointer">
                <td class="w-1/4 py-1">
                    <i class="nf nf-custom-folder px-1 mb-1 text-amber-100"></i>
                    <a href="{{ path('files', { 'path': path ~ directory_separator() ~ folder.getName() }) }}" async="true">
                        <span class="text-dataflowText hover:underline context-menu-interactable">{{ folder.getName() }}</span>
                    </a>
                </td>
                <td class="w-1/4 text-dataflowText">{{ folder.getType() }}</td>
                <td class="w-1/4 text-dataflowText" data-sort="{{ folder.getModificationTime() }}">{{ folder.getModificationTimeFormatted() }}</td>
            </tr>
        {% endfor %}

        {% for file in directory.getFiles() %}
            <tr class="text-slate-200 hover:bg-white/10 cursor-pointer">
                <td class="w-1/4 py-1">
                    <i class="nf nf-md-file px-1 mb-1 text-slate-400"></i>
                    <span class="text-dataflowText hover:underline context-menu-interactable">{{ file.getName() }}</span>
                </td>
                <td class="w-1/4 text-dataflowText" data-sort="{{ file.getSize() }}">{{ bytesToReadableSize(file.getSize()) }}</td>
                <td class="w-1/4 text-dataflowText" data-sort="{{ file.getModificationTime() }}">{{ file.getModificationTimeFormatted() }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $('#directory-table').DataTable({
        'order': [],
        'paging': false,
        'searching': false,
        'info': false,
    });
</script>