{% extends "base.html.twig" %}

{% block title %} Dataflow - disks{% endblock %}

{% block sidebar %}
    {% include "@UserInterface/sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="flex">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3">
            {% for disk in disks %}
                <a href="{{ path('files', { 'disk_name': disk.getName(true) }) }}" class="p-2 mb-1 w-[300px] bg-zinc-900 rounded-lg shadow-md hover:bg-zinc-800/50 cursor-pointer">
                    <div class="flex items-center mb-2">
                        <i class="nf nf-md-harddisk text-indigo-200 text-2xl mr-2"></i>
                        <span class="text-white font-medium">{{ disk.getName() }}</span>
                    </div>
                    <div class="text-gray-300 text-sm">Size: {{ disk.getSize() }}</div>
                    <div class="text-gray-300 text-sm mb-2">Mountpoint: {{ disk.getMountpoint() }}</div>
                    <div class="text-right text-gray-300 text-xs mt-1">{{ disk.getUsedPercentage() }} used</div>
                    <div class="w-full bg-gray-600 h-2 overflow-hidden">
                        <div class="bg-indigo-200 h-full rounded-[2px]" style="width: {{ disk.getUsedPercentage() }};"></div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}