{% extends "base.html.twig" %}

{% block title %} Dataflow - files {% endblock %}

{% block sidebar %}
    {% include "@UserInterface/sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="flex">
        <div class="text-zinc-500 text-[16px] p-1">
            <span>{{ disk.getMountPoint() }}</span>
            <p>Path: {{ path ? path : disk.getMountPoint() }}</p>
        </div>
        <div class="relative mb-4 ms-auto text-[15px]">
            <!--
            <input type="text" id="fileSearch" placeholder="Search" class="w-full p-1 pl-10 bg-transparent text-white border-b-2 border-zinc-500 outline-none" />
            <i class="nf nf-md-file_search absolute left-3 top-2 text-zinc-500"></i>
            -->
            <a class="group/search bg-transparent text-white text-base font-semibold">
                <i class="nf nf-md-file_search mx-2 text-zinc-500 transition duration-200 ease-in-out hover:text-zinc-300 cursor-pointer"></i>
            </a>
            <a href="{{ path('settings') }}" class="group/search bg-transparent text-white text-base font-semibold">
                <i class="nf nf-fa-gears mx-2 text-zinc-500 transition duration-200 ease-in-out hover:text-zinc-300 cursor-pointer"></i>
            </a>
        </div>
    </div>

    <table class="table-fixed w-full text-left text-[14px]">
        <thead>
        <tr class="text-zinc-500">
            <th class="w-1/4">Name</th>
            <th class="w-1/4">Size</th>
            <th class="w-1/4">Type</th>
            <th class="w-1/4">Date Modified</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr class="text-slate-200 hover:bg-zinc-800 cursor-pointer">
                <td class="w-1/4 py-1">
                    {% if file.getType() == 'Folder' %}
                        <i class="nf nf-md-folder mx-2 mb-1 text-yellow-200"></i>
                    {% else %}
                        <i class="nf nf-md-file mx-2 mb-1 text-slate-300"></i>
                    {% endif %}

                    <a href="{{ path('files', { disk_name: disk.getName(true), path: disk.getMountPoint() ~ '/' ~ file.getName() }) }}">
                        <span class="hover:underline">{{ file.getName() }}</span>
                    </a>
                </td>
                <td class="w-1/4">{{ bytesToReadableSize(file.getSize()) }}</td>
                <td class="w-1/4">{{ file.getType() }}</td>
                <td class="w-1/4">{{ file.getModificationTimeFormatted() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}